{% extends "cleanWater/layout.html" %}
{% block body %}

{% load static %}
    <h2>
        WHO ARE WE
    </h2>

    <img src="{% static 'cleanWater/media/logo.jpg' %}" alt="">
    <div class="thirdSection">
        <p>Waterways is a nonprofit organization bringing clean water to people around the world</p>
    </div>
    <div>
        <h4>The team:</h4>
        <div class="fourthSection">
            <img id="idk4" width="500px" src="{% static 'cleanWater/media/IMG_6154.jpg'%}" alt="">
        </div>
    </div>
{% endblock %}